*.c
*.la
*.lo
*.o
*~

*.stamp
*.swp

*.gir
*.typelib
*.vapi

*Makefile
*Makefile.in
*Makefile.in.in

m4
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
intltool-*.in
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1

lcov.info
tests/tests
tests/coverage
.testlogs*

ABOUT-NLS
intl
po/.intltool-merge-cache
po/Makevars.template
po/POTFILES
po/stamp-it
po/Rules-quot
po/*.gmo
po/*.header
po/*.pot
po/*.sed
po/*.sin

*/.deps
*/.libs

valint/*.h
valint-cli/valint

valint.sublime-workspace
valint.sublime-project